{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb",
    "airbnb-typescript"
  ],
  "env": {
    "node": true
  },
  "parserOptions": {
    "project": "../tsconfig.json",
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "16"
    }
  },
  "rules": {
    "import/prefer-default-export": 0
  }
}
